<app-slider></app-slider>

<!-- Promos iniciales -->
<div class="promo-section">
  <div class="promo-row">
    <div class="promo-box" *ngFor="let promo of promos.slice(0,2)">
      <img [src]="promo.image" [alt]="promo.alt" />
    </div>
  </div>

  <div class="promo-single">
    <img [src]="promos[2].image" [alt]="promos[2].alt" />
  </div>
</div>




<div *ngFor="let category of categories" class="product-section">
  <div class="category-title">
    <h2>{{ category.name }}</h2>
    <p>Relacionado con tus visitas recientes</p>
  </div>

  <!-- Contenedor con botones -->
  <div class="carousel-wrapper">
    <button class="nav left" (click)="scrollLeft(category.id)">❮</button>

    <div class="gallery" #scrollContainer [attr.data-category-id]="category.id">
      <div
        class="card"
        *ngFor="let product of getProductsByCategory(category.id)"
        [routerLink]="['/tienda', product.id]"
        tabindex="0"
        role="link"
      >
        <img *ngIf="product.image" [src]="'http://127.0.0.1:8000/storage/' + product.image" alt="imagen" />
        <div class="info">
          <h3>{{ product.name }}</h3>
          <p class="price">$ {{ product.price }}</p>
        </div>
      </div>
    </div>

    <button class="nav right" (click)="scrollRight(category.id)">❯</button>
  </div>
</div>


