<h2>Editar Producto</h2>

<form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <label>
    Nombre:
    <input type="text" [(ngModel)]="product.name" name="name" required>
  </label>
  <br>

  <label>
    Descripción:
    <textarea [(ngModel)]="product.description" name="description"></textarea>
  </label>
  <br>

  <label>
    Precio:
    <input type="number" [(ngModel)]="product.price" name="price" required>
  </label>
  <br>

  <label>
    Imagen actual:
    <img *ngIf="product.image" [src]="'http://127.0.0.1:8000/storage/' + product.image" width="80">
  </label>
  <br>

  <label>
    Nueva imagen (opcional):
    <input type="file" (change)="onFileChange($event)">
  </label>
  <br>

  <button type="submit">Actualizar</button>
</form>
