<h2>Registro</h2>
<form (ngSubmit)="onRegister()" #form="ngForm">
  <input type="text" name="name" [(ngModel)]="name" placeholder="Nombre" required>
  <input type="text" name="phone" [(ngModel)]="phone" placeholder="Teléfono celular" required>
  <input type="text" name="address" [(ngModel)]="address" placeholder="Dirección de envío" required>
  <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required>
  <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required>
  <input type="hidden" name="latitude" [(ngModel)]="latitude">
  <input type="hidden" name="longitude" [(ngModel)]="longitude">
  <button type="submit">Registrarse</button>
</form>
