<p>categoria-1 works!</p>
<app-slider></app-slider>

<div class="carousel-wrapper">
  <button class="nav left" (click)="scrollLeft()">❮</button>

  <div class="gallery" #scrollContainer data-category-id="1">
    <div
      class="card"
      *ngFor="let product of products"
      [routerLink]="['/tienda', product.id]"
      tabindex="0"
      role="link"
    >
      <img *ngIf="product.image" [src]="'http://127.0.0.1:8000/storage/' + product.image" alt="imagen" />
      <div class="info">
        <h3>{{ product.name }}</h3>
        <p class="price">$ {{ product.price }}</p>
      </div>
    </div>
  </div>

  <button class="nav right" (click)="scrollRight()">❯</button>
</div>
