<button class="back-btn" (click)="volver()">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
       stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
    <path d="M15 18l-6-6 6-6" />
  </svg>
  Volver
</button>

<div *ngIf="product" class="detail-container">
  <div class="left-section">
    <div class="image-wrapper">
      <img *ngIf="selectedImage" [src]="'http://127.0.0.1:8000/storage/' + selectedImage" alt="Imagen seleccionada" class="main-image" />

      <button class="btn-favorite" (click)="toggleFavorite()" title="Favorito">
        <svg *ngIf="isFavorite" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
                  2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 
                  4.5 2.09C13.09 3.81 14.76 3 
                  16.5 3 19.58 3 22 5.42 
                  22 8.5c0 3.78-3.4 6.86-8.55 
                  11.54L12 21.35z"/>
        </svg>

        <svg *ngIf="!isFavorite" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" stroke="currentColor"
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 
                   5.5 0 0 0-7.78 7.78l1.06 
                   1.06L12 21.23l7.78-7.78 
                   1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
        </svg>
      </button>
    </div>

    <div class="thumbnails">
      <!-- Imagen principal -->
      <img 
        *ngIf="product.image" 
        [src]="'http://127.0.0.1:8000/storage/' + product.image" 
        alt="Principal" 
        class="thumb" 
        [class.active]="selectedImage === product.image"
        (click)="selectedImage = product.image"
      />

      <!-- Galería -->
      <img 
        *ngFor="let img of product.images" 
        [src]="'http://127.0.0.1:8000/storage/' + img.image" 
        alt="Galería" 
        class="thumb" 
        [class.active]="selectedImage === img.image"
        (click)="selectedImage = img.image"
      />
    </div>
  </div>

  <div class="right-section" [class.out-of-stock]="isProductOutOfStock" [class.product-paused]="isProductPaused">
    <h2>{{ product.name }}</h2>

    <p class="price">$ {{ product.price | number:'1.0-2' }} mx</p>

    <div class="description">
      <p class="desc">{{ product.description }}</p>
    </div>

    <div class="quantity-selector">
      <button class="btn-quantity" (click)="decrementQuantity()" [disabled]="quantity === 1 || isProductOutOfStock || isProductPaused">-</button>
      <input 
        type="number" 
        [value]="quantity" 
        (change)="onQuantityChange($event)" 
        min="0" 
        [max]="product?.stock" 
        class="quantity-input"
        aria-label="Cantidad del producto"
        [disabled]="isProductOutOfStock || isProductPaused" 
      />
      <button class="btn-quantity" (click)="incrementQuantity()" [disabled]="quantity >= product?.stock || isProductOutOfStock || isProductPaused">+</button>
    </div>

    <p *ngIf="stockMessage" 
       class="stock-message" 
       [ngClass]="{
         'low-stock': product.stock > 0 && product.stock <= 5 && !isProductPaused,
         'no-stock': isProductOutOfStock && !isProductPaused,
         'paused-product-message': isProductPaused
       }">
      {{ stockMessage }}
    </p>

    <button class="btn-cart" (click)="agregarAlCarrito()" [disabled]="isProductOutOfStock || isProductPaused">
      {{ isProductPaused ? 'Producto Pausado' : (isProductOutOfStock ? 'Producto Agotado' : 'Agregar al carrito') }}
    </button>

    <div class="review-section">
      <h3>Comentarios</h3>

      <div *ngIf="authService.isLoggedIn()" class="review-form">
        <div class="star-rating">
          <span *ngFor="let star of [1,2,3,4,5]" (click)="setRating(star)" style="cursor:pointer;">
            <i [ngClass]="star <= review.rating ? 'fas fa-star' : 'far fa-star'"></i>
          </span>
        </div>

        <textarea [(ngModel)]="review.comment" placeholder="Escribe un comentario..."></textarea>
        <div *ngIf="reviewError" style="color: red; margin-top: 5px;">
          {{ reviewError }}
        </div>
        
        <button (click)="submitReview()">Enviar</button>
      </div>

      <div class="review-list">
        <div *ngFor="let r of reviews" class="review-item">
          <strong>{{ r.user.name }}</strong>
          <small class="review-date">{{ r.created_at | date:'dd/MM/yyyy HH:mm' }}</small>
          <div class="stars">
            <i *ngFor="let s of [1,2,3,4,5]" [ngClass]="s <= r.rating ? 'fas fa-star' : 'far fa-star'"></i>
          </div>
          <p>{{ r.comment }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
