.swiper-container {
  width: 100%;
  height: auto;   /* <-- Cambiado de 100% a auto */
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  background-color: #c10606; /* Fondo para disimular salto */
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  gap: 0;
  font-size: 0;
  will-change: transform; /* ayuda a que la transición sea suave */
}

.swiper-slide {
  width: 100%;
  height: auto;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: initial;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;

    user-select: none;
    pointer-events: none;

    display: block;
    vertical-align: top;
    line-height: 0;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

// Opcional: ajustes responsive
@media (max-width: 768px) {
  .swiper-container,
  .swiper-wrapper,
  .swiper-slide img {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }

  :host::after {
    content: '';
    display: block;
    height: 1px;
    background: #c10606;
    margin-top: -1px;
  }
}
