<div class="admin-dashboard">
  <aside class="sidebar">
    <h2>Admin</h2>
    <nav>
      <a routerLink="/admin-panel/resumen">📊 Resumen</a>
      <a routerLink="/admin-panel/productos">🛒 Productos</a>
      <a routerLink="/admin-panel/producto-nuevo">➕ Crear Producto</a>
      <a routerLink="/admin-panel/pedidos">📦 Pedidos</a>
      <a routerLink="/admin-panel/pedidos-excedidos">🚨 Pedidos Excedidos</a>
      <a routerLink="/admin-panel/finanzas">💰 Finanzas</a>
      <a routerLink="/admin-panel/destacados">🌟 Destacados</a>
      <a routerLink="/admin-panel/clientes">👤 Clientes</a>
    </nav>
  </aside>

  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>
