

<form (ngSubmit)="onSubmit()" #form="ngForm">
    <h2>Nueva Dirección</h2>
  <label>
    Calle:
    <input type="text" name="calle" [(ngModel)]="direccion.calle" placeholder="Ej: Avenida Reforma 123" required>
  </label>

  <label>
    Código Postal:
    <input type="text" name="codigo_postal" [(ngModel)]="direccion.codigo_postal" required>
  </label>

  <label>Estado:</label>
  <select name="state" (change)="onEstadoChange($event)" required>
    <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.name }}</option>
  </select>


  <label>Municipio:</label>
  <select [(ngModel)]="direccion.municipio" name="municipio" required>
    <option value="" disabled selected>Selecciona un municipio</option>
    <option *ngFor="let m of municipios" [value]="m.name">{{ m.name }}</option>
  </select>

  <label>
    Localidad:
    <input type="text" name="localidad" [(ngModel)]="direccion.localidad" required>
  </label>

  <label>
    Colonia / Barrio:
    <input type="text" name="colonia" [(ngModel)]="direccion.colonia" required>
  </label>

  <label>
    Número interior / Depto (opcional):
    <input type="text" name="numero_interior" [(ngModel)]="direccion.numero_interior">
  </label>

  <label>
    Indicaciones para entrega (opcional):
    <textarea name="indicaciones_entrega" [(ngModel)]="direccion.indicaciones_entrega"></textarea>
  </label>

  <label>
    Tipo de domicilio:
    <select name="tipo_domicilio" [(ngModel)]="direccion.tipo_domicilio" required>
      <option value="" disabled selected>Selecciona un tipo</option>
      <option value="residencial">Residencial</option>
      <option value="laboral">Laboral</option>
    </select>
  </label>

  <button type="submit">Guardar Dirección</button>
</form>
