.pedido-card {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-left: 6px solid #ff9900;
}

.medidas-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
}

.producto-info {
  margin-top: 12px;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
