<nav class="navbar">
  <div class="left-section">
    <img src="assets/logo.png" alt="Logo" class="logo" routerLink="/tienda"/>
    <!-- <span class="postal">Ingresa tu <strong>código postal</strong></span> -->
<br>
    <div class="profile-wrapper" (click)="toggleCategoryMenu()" tabindex="0" (blur)="closeCategoryMenu()">
      <a class="nav-link">Categorías ▼</a>
      <div class="profile-menu" *ngIf="showCategoryMenu">
        <ul>
          <li *ngFor="let cat of categories">
            <a [routerLink]="['/categoria', cat.id]">{{ cat.name }}</a>
          </li>
        </ul>
      </div>
    </div>    

  </div>

  <div class="center-section">
    <div class="search-box" [class.active]="showSearch || !isMobile">
      <input 
        *ngIf="showSearch || !isMobile" 
        type="text" 
        [(ngModel)]="searchTerm" 
        placeholder="Encuéntralo en Aeromx..." 
        (keyup.enter)="buscar()" 
        class="search-input"
      />
      <span class="search-icon" (click)="toggleSearch()">🔍</span>
    </div>
  </div>

  <div class="right-section">
    <a class="nav-link" href="#">📍 Rastrear pedido</a>
    <!-- <a class="nav-link" routerLink="/profile" *ngIf="authService.isLoggedIn()">👤</a> -->
    <!-- navbar.component.html -->
<div class="profile-wrapper" (click)="toggleProfileMenu()" tabindex="0" (blur)="closeProfileMenu()">
  <svg class="profile-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" stroke="currentColor"
       stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <circle cx="12" cy="8" r="4"/>
    <path d="M6 20c0-2.5 4-4 6-4s6 1.5 6 4"/>
  </svg>

 <div class="profile-menu" *ngIf="showProfileMenu && (isLoggedIn() || isGuest())">
    <ul>
     <!-- Mostrar solo si el usuario está autenticado -->
        <li *ngIf="isLoggedIn()"><a routerLink="/mis-pedidos">Mis pedidos</a></li>
        <li *ngIf="isLoggedIn()"><a routerLink="/profile">Mi perfil</a></li>
        <li *ngIf="isLoggedIn()"><button (click)="logout()">Cerrar sesión</button></li>

        <li *ngIf="isGuest()"><a routerLink="/login">Iniciar Sesión</a></li>
        <li *ngIf="isGuest()"><a routerLink="/register">Crear Cuenta</a></li>
    </ul>
  </div>
</div>

  <a (click)="irAlCarrito()" class="cart-link">
    🛒
    <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
  </a>

    <!-- <button class="logout" (click)="logout()" *ngIf="authService.isLoggedIn()">Cerrar sesión</button> -->
    <!-- <a routerLink="/login" *ngIf="!authService.isLoggedIn()">Login</a>
    <a routerLink="/register" *ngIf="!authService.isLoggedIn()">Register</a> -->
  </div>
</nav>
