<div class="direccion-lista">
  <div *ngFor="let dir of direcciones" class="direccion-card">
    <div class="icono">🏠</div>
    <div class="contenido">
      <div class="calle"><strong>{{ dir.calle }} {{ dir.numero_interior }}</strong></div>
      <div class="cp">{{ dir.codigo_postal }} - {{ getNombreEstado(dir.estado) }} - {{ dir.municipio }}</div>
      <div class="info-extra">wiki hard - 7772199500</div>
    <!-- Si no tiene datos extra -->
    <a *ngIf="!dir.extra_info" [routerLink]="['/direccion-extra', dir.id]" class="link-agregar">
    Agregar datos y horarios del lugar
    </a>

    <!-- Si ya tiene datos extra -->
    <a *ngIf="dir.extra_info" [routerLink]="['/direccion', dir.id]" class="link-editar">
    Editar datos del lugar
    </a>
    </div>
  </div>

  <div class="agregar-direccion">
    <a routerLink="/registrar-direccion">Agregar dirección</a>
  </div>
</div>
