<div 
  class="slider"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()"
  (mousedown)="onDragStart($event)"
  (mousemove)="onDragMove($event)"
  (mouseup)="onDragEnd()"
  (mouseleave)="onDragEnd()"
>
  <div 
    class="slider-track" 
    [ngStyle]="{ transform: trackTransform, transition: transitionStyle }"
    (transitionend)="onTransitionEnd()"
  >
    <img [src]="images[images.length - 1]" alt="Clon último" />
    <img *ngFor="let image of images" [src]="image" alt="Slide" />
    <img [src]="images[0]" alt="Clon primero" />
  </div>
</div>
