.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;

  .slider-track {
    display: flex;
    width: 100%;
  }

  img {
    width: 100%;
    flex-shrink: 0;
    user-select: none;
    pointer-events: none;
  }
}
